<template>
  <div class="flex flex-row space-x-10 py-5 justify-center text-2xl">
      <nuxt-link class="normalize-anchor" :to="localePath('welcome')">{{ $t('menu.home') }}</nuxt-link>
      <nuxt-link class="normalize-anchor" :to="localePath('rsvp')">{{ $t('menu.rsvp') }}</nuxt-link>
      <nuxt-link class="normalize-anchor" :to="localePath('theme')">{{ $t('menu.theme') }}</nuxt-link>
      <nuxt-link class="normalize-anchor" :to="localePath('message')">{{ $t('menu.contact') }}</nuxt-link>
      <nuxt-link class="normalize-anchor" :to="localePath('activities')">{{ $t('menu.activities') }}</nuxt-link>
      <nuxt-link class="normalize-anchor" :to="localePath('hotels')">{{ $t('menu.hotels') }}</nuxt-link>
      <nuxt-link class="normalize-anchor" :to="localePath('how-to')">{{ $t('menu.howTo') }}</nuxt-link>
  </div>
</template>

<script>
export default {
  name: "Header",
}
</script>
<style lang="scss">
.nuxt-link-exact-active {
  color: #2b5ba2 !important;
  border-bottom: 5px solid #2b5ba2;
}
</style>