@font-face {
  font-family: "Delauney";
  src: local("Delauney"),
    url(./DelauneyRegular.ttf) format("truetype");
}

:root {
  --secondary: #2b5ba2;
  --primary: #BF9B43;
  --maz-placeholder-color: #000 !important;
  --maz-bg-color: #BF9B43 !important;
  --maz-border-color: #BF9B43 !important;
  --maz-primary: #BF9B43 !important;
  --maz-primary-darken: #7e6830 !important;
  --maz-base-font-family: "Delauney" !important;
}

html {
  font-family: "Delauney";
  color: #BF9B43;
  letter-spacing: 1px;
}

input {
  padding: 5px 10px;
  font-size: 24px;
  letter-spacing: 2px;
  font-weight: bold;
  border-radius: 5px;
  font-family: "Delauney" !important;
}

a {
  color: #2b5ba2;
  text-decoration: underline;
}

.normalize-anchor {
  color: #BF9B43;
  text-decoration: initial;
}

input::placeholder {
  color: #000;
  display: block;
  padding-top: 15px;
  margin-top: 15px;
  height: 100% !important;
  font-family: "Delauney" !important;
}

button {
  border: 1px solid #BF9B43;
  background: #BF9B43;
  color: #000;
  font-family: "Delauney" !important;
  padding: 8px 15px;
  border-radius: 5px;
  font-size: 24px;
}

.maz-btn {
  color: #000 !important;
}

.maz-btn span {
  padding-top: 8px;
}

.maz-input {
  padding-top: 10px;
}

.maz-input__input {
  height: initial !important;
  margin-top: 5px !important;
}

.maz-input.has-value:not(.has-no-label) .maz-input__input, .maz-input.has-hint:not(.has-no-label) .maz-input__input {
  padding-top: .5rem !important;
}
/* 
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 5px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #bf9c4380;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
} */