<template>
  <div class="min-w-screen min-h-screen radial radial relative">
    <NavBar />
    <div class="left absolute flex flex-col lg:visible invisible">
      <img src="../assets/layout/first/left-top.png" class="top" />
      <img src="../assets/layout/first/left-bottom.png" class="bottom" />
    </div>
    <div class="container mx-auto flex flex-col items-center justify-center">
      <h1 class="text-center text-6xl w-full lg:w-1/2 px-5 mx-auto mt-5 line-h">
        {{ $t(this.$route.meta.title) }}
      </h1>
      <div class="pb">
        <Nuxt />
      </div>
    </div>
    <div class="right absolute flex flex-col lg:visible invisible">
      <img src="../assets/layout/first/right-top.png" class="top" />
      <img src="../assets/layout/first/right-bottom.png" class="bottom" />
    </div>
  </div>
</template>
<script>
import NavBar from "@/components/layout/NavBar.vue";
export default {
  components: {
    NavBar,
  },
};
</script>
<style lang="scss" scoped>
.radial {
  background: rgb(67, 77, 206);
  background: radial-gradient(
    circle,
    #002030 0%,
    rgba(0, 0, 0, 1) 85%
  );
}
.line-h {
  line-height: 1.4;
}
.pb {
  padding-top: 60px;
  padding-bottom: 120px;
}
.left {
  top: 0px;
  left: 24px;
  bottom: 10px;
  display: flex;
  z-index: 0;
  pointer-events: none;
  img {
    width: 350px;
    height: 350px;
  }
  .top {
    margin-top: 62px;
  }
  .bottom {
    margin-top: auto;
    margin-bottom: 24px;
  }
}
.right {
  top: 0px;
  right: 24px;
  bottom: 10px;
  display: flex;
  z-index: 0;
  pointer-events: none;
  img {
    margin-top: auto;
    width: 350px;
    height: 350px;
  }
  .top {
    margin-top: 62px;
  }
  .bottom {
    margin-top: auto;
    margin-bottom: 24px;
  }
}
</style>
