<template>
  <div class="min-w-screen min-h-screen radial radial relative">
    <div class="left absolute flex flex-col lg:visible invisible">
      <img src="../assets/layout/first/left-top.png" class="top" />
      <img src="../assets/layout/first/left-bottom.png" class="bottom" />
    </div>
    <div class="container mx-auto">
      <h1 class="text-center text-4xl w-1/2 px-5 mx-auto pt-10" v-if="this.$route.meta.title">{{ $t(this.$route.meta.title) }}</h1>
      <div :class="this.$route.meta.title && 'mt-8'">
        <Nuxt />
      </div>
    </div>
    <div class="right absolute flex flex-col lg:visible invisible">
      <img src="../assets/layout/first/right-top.png" class="top" />
      <img src="../assets/layout/first/right-bottom.png" class="bottom" />
    </div>
  </div>
</template>
<script>
export default {
  name: 'intro'
};
</script>
<style lang="scss" scoped>
.radial {
  background: rgb(67, 77, 206);
  background: radial-gradient(
    circle,
    #002030 0%,
    rgba(0, 0, 0, 1) 85%
  );
}
.left {
  top: 0px;
  left: 24px;
  bottom: 0;
  display: flex;
  z-index: 0;
  pointer-events: none;
  img {
    width: 350px;
    height: 350px;
  }
  .top {
    margin-top: 24px;
  }
  .bottom {
    margin-top: auto;
    margin-bottom: 24px;
  }
}
.right {
  top: 0px;
  right: 24px;
  bottom: 0;
  display: flex;
  z-index: 0;
  pointer-events: none;
  img {
    width: 350px;
    height: 350px;
  }
  .top {
    margin-top: 24px;
  }
  .bottom {
    margin-top: auto;
    margin-bottom: 24px;
  }
}
</style>
