<template>
  <div class="flex flex-col justify-center items-center game">
    <div class="flex flex-col w-3/4 text-2xl mt-4">
      <div v-for="activity in activities" :key="activity.activity" class="flex flex-col space-y-5">
        <h1 v-if="activity.city" class="underline">
          {{ activity.city }}
        </h1>
        <div class="flex flex-row space-x-5 item py-5 items-top">
          <a target="_blank" class="w-80 flex" :href="activity.link">{{ activity.activity }} =></a>
          <p class="flex">
            {{ activity.description }}
          </p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'game',
  meta: {
    title: 'title.activities',
  },
  computed: {
    activities() {
      const arr = [];
      for(let i = 0; i <= 9; i += 1) {
        const activity = {
          city: this.$t(`activities[${i}].city`) !== 'null' ? this.$t(`activities[${i}].city`) : null,
          description: this.$t(`activities[${i}].description`),
          activity: this.$t(`activities[${i}].activity`),
          link: this.$t(`activities[${i}].link`),
        }
        arr.push(activity);
      }
      return arr;
    }
  }
}
</script>

<style lang="scss" scoped>
.wrapper {
  max-height: calc(100vh - 300px);
}
.item {
  a {
    flex: 0 0 40%;
    color: #2b5ba2;
  }
}
</style>