<template>
  <div class="flex flex-col justify-center items-center game">
    <iframe :src="$t('game.link')" class="z-10 game-frame"></iframe>
    <div class="flex flex-col justify-center items-center text-xl mt-4">
      <h1>
        {{ $t('game.hard') }}
      </h1>
      <nuxt-link :to="localePath('welcome')">
        {{ $t('game.bypass') }}
      </nuxt-link>
      <h1 class="mt-4">
        {{ $t('game.vlad1') }}
      </h1>
      <h1>
        {{ $t('game.vlad2') }}
      </h1>
      <a target="_blank" :href="$t('game.ig')">{{ $t('game.ig') }}</a>
      <a target="_blank" :href="$t('game.behance')">{{ $t('game.behance') }}</a>
    </div>
  </div>
</template>

<script>
export default {
  name: 'game',
  layout: 'intro',
  meta: {
    title: 'title.game',
  },
}
</script>

<style lang="scss" scoped>
.game {
  margin-top: 6vh;
  padding-bottom: 110px;
  &-frame {
    width: 80vw;
    height: 70vh;
  }
}
</style>