<template>
  <div class="flex flex-col justify-center items-center hotels">
    <div class="flex flex-col w-3/4 text-xl mt-4 wrapper">
    <div v-if="isRo" class="flex flex-col space-y-3">
      <h1>Avion</h1>
      <h1>{{ $t('hotels.plane[0]') }}</h1>
      <h1>{{ $t('hotels.plane[1]') }}</h1>
      <h1>{{ $t('hotels.plane[2]') }}</h1>
    </div>
    <div >
      <div class="flex flex-col space-y-5 mt-10">
        <h1 class="underline">
          {{ $t("hotels.hotels[0].title") }}
        </h1>
        <div class="text-blue flex flex-col">
          <a target="_blank" :href="$t('hotels.hotels[0].link1.link')">
            {{ $t("hotels.hotels[0].link1.label") }}
          </a>
          <a target="_blank" :href="$t('hotels.hotels[0].link2.link')">
            {{ $t("hotels.hotels[0].link2.label") }}
          </a>
          <a target="_blank" :href="$t('hotels.hotels[0].link3.link')">
            {{ $t("hotels.hotels[0].link3.label") }}
          </a>
          <a target="_blank" :href="$t('hotels.hotels[0].link4.link')">
            {{ $t("hotels.hotels[0].link4.label") }}
          </a>
          <a target="_blank" :href="$t('hotels.hotels[0].link5.link')">
            {{ $t("hotels.hotels[0].link5.label") }}
          </a>
        </div>
      </div>
      <div class="flex flex-col space-y-5 mt-10">
        <h1 class="underline">
          {{ $t("hotels.hotels[1].title") }}
        </h1>
        <div class="text-blue flex flex-col">
          <a target="_blank" :href="$t('hotels.hotels[1].link1.link')">
            {{ $t("hotels.hotels[1].link1.label") }}
          </a>
        </div>
      </div>
    </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "game",
  meta: {
    title: "title.hotels",
  },
  computed: {
    isRo() {
      return this.$i18n.locale === "ro";
    },
  },
};
</script>

<style lang="scss" scoped>
.hotels {
  padding-bottom: 50px;
}
</style>
