<template>
  <div class="flex flex-col justify-center items-center hotels">
    <div
      class="flex flex-col w-3/4 text-xl mt-4 wrapper space-y-10"
    >
      <div class="flex flex-col lg:flex-row space-x-10">
        <div class="flex flex-col">
          <h1>
            {{ $t("howTo.hotel.title") }}
          </h1>
          <h1>
            {{ $t("howTo.hotel.address") }}
          </h1>
        </div>
        <div class="maps flex flex-col space-y-5">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2715.0896491721237!2d4.866543715337081!3d47.11691452966988!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47f28ea3695ce35b%3A0x515e9958da9a9408!2sLe%20Carr%C3%A9%20Saint%20Pierre!5e0!3m2!1sen!2sro!4v1645986206066!5m2!1sen!2sro"
            width="300"
            height="200"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
          ></iframe>
          <img src="../assets/restaurant.jpg" width="300" height="200" />
        </div>
      </div>
      <div class="flex flex-col lg:flex-row space-x-10">
        <div class="flex flex-col">
          <h1>
            {{ $t("howTo.church.title") }}
          </h1>
          <h1>
            {{ $t("howTo.church.address") }}
          </h1>
        </div>
        <div class="maps flex flex-col space-y-5">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2717.8517767092408!2d4.817855915306308!3d47.06275787915232!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47f28b656931b0cf%3A0xab442f293a2e1cc5!2s2%20Pl.%20de%20l&#39;%C3%89glise%2C%2021420%20Savigny-l%C3%A8s-Beaune%2C%20France!5e0!3m2!1sen!2sro!4v1646242923675!5m2!1sen!2sro"
            width="300"
            height="200"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
          ></iframe>
          <img src="../assets/church.jpg" width="300" height="200" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "game",
  meta: {
    title: "title.howTo",
  },
};
</script>

<style lang="scss" scoped>
.hotels {
  margin-top: 6vh;
}
</style>
