<template>
  <div class="container">
    <div class="hero text-center h-screen w-full flex flex-col relative">
      <div
        class="flex items-center justify-center text-9xl lg:w-1/2 mx-auto leading-normal"
      >
        <h1 class="align-center">{{ $t("intro.hero") }}</h1>
      </div>
      <div
        class="links flex flex-col lg:flex-row lg:justify-between justify-center items-center lg:items-end text-xl"
      >
        <div class="left">
          <div class="flex flex-row items-center space-x-5">
            <img src="../assets/ro.png" width="30" />
            <nuxt-link v-if="!isMobile" :to="localePath('game', 'ro')">{{
              $t("intro.romanian")
            }}</nuxt-link>
            <nuxt-link v-else :to="localePath('welcome', 'ro')">{{
              $t("intro.romanian")
            }}</nuxt-link>
          </div>
        </div>
        <div class="right">
          <div class="flex flex-row items-center space-x-5">
            <nuxt-link v-if="!isMobile" :to="localePath('game', 'fr')">{{
              $t("intro.french")
            }}</nuxt-link>
            <nuxt-link v-else :to="localePath('welcome', 'fr')">{{
              $t("intro.french")
            }}</nuxt-link>
            <img src="../assets/fr.png" width="30" />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "IndexPage",
  layout: "intro",
  computed: {
    isMobile() {
      if (process.client) {
        if (window.innerWidth <= 768) {
          return true;
        }
      }
      return false;
    },
  },
};
</script>
<style lang="scss" scoped>
img {
  margin-bottom: 15px;
}
.hero {
  h1 {
    margin-top: 15vh;
    margin-bottom: 15vh;
  }
}
.links {
  height: 50px;
  z-index: 10;
  padding-bottom: 30px;
  width: 100%;
  .left {
    margin-left: 100px;
    @media screen and (max-width: 768px) {
      margin-left: 0;
    }
  }
  .right {
    margin-right: 100px;
    @media screen and (max-width: 768px) {
      margin-right: 0;
    }
  }
}
</style>
