<template>
  <div>
    <Loading
      :active.sync="isLoading"
      :can-cancel="false"
      :is-full-page="true"
      loader="spinner"
      color="#BF9B43"
    ></Loading>
    <MazDialog v-model="isDialogOpen" :width="650">
      <div slot="title">
        {{ success ? $t("modal.successTitle") : $t("modal.errorTitle") }}
      </div>
      <div slot="footer">
        <MazBtn @click.native="isDialogOpen = false" color="white" outline>{{ $t("common.close") }}</MazBtn>
      </div>
      <h1 v-if="success">
        {{ $t("modal.successMessage") }}
      </h1>
      <i18n v-else tag="h1" path="modal.errorMessage">
        <template v-slot:mail>
          <a href="mailto:raboutet.ludovic@gmail.com"
            >raboutet.ludovic@gmail.com
          </a>
        </template>
      </i18n>
    </MazDialog>
    <div class="contact flex flex-col items-center justify-center">
      <div
        class="contact-hero flex flex-col items-center justify-center text-2xl text-center space-y-5"
      >
        <h1>
          {{ $t("contact.hero1") }}
        </h1>
        <h1>
          {{ $t("contact.hero2") }}
        </h1>
      </div>
      <div class="flex flex-col space-y-4 mt-5">
        <div class="flex flex-row space-x-4 w-full">
          <MazInput :placeholder="$t('contact.form.name')" v-model="name" />
          <MazInput :placeholder="$t('contact.form.email')" v-model="email" />
        </div>
        <div class="flex flex-row space-y-10">
          <MazInput
            :placeholder="$t('contact.form.subject')"
            v-model="subject"
            class="w-full"
          />
        </div>
        <div class="flex flex-row items-center justify-center mt-10">
          <MazInput
            :placeholder="$t('contact.form.message')"
            v-model="message"
            textarea
            class="w-full"
          />
        </div>
      </div>
      <div class="flex flex-row items-center justify-center mt-10">
        <MazBtn @click="sendEmail">{{ $t("rsvp.submit") }}</MazBtn>
      </div>
    </div>
  </div>
</template>

<script>
import "vue-loading-overlay/dist/vue-loading.css";
import Loading from "vue-loading-overlay";
import { MazInput, MazBtn, MazSelect, MazDialog } from "maz-ui";
export default {
  name: "rsvp",
  meta: {
    title: "title.contact",
  },
  data: () => ({
    name: "",
    subject: "",
    email: "",
    message: "",
    isLoading: false,
    isDialogOpen: false,
    success: true,
  }),
  components: { MazInput, MazBtn, MazSelect, Loading, MazDialog },
  methods: {
    async sendEmail() {
      this.isLoading = true;
      this.$mail
        .send({
          from: "wedding@test.com",
          subject: this.subject,
          text: `
          Name: ${this.name}

          Email: ${this.email}

          Message: ${this.message}
        `,
        })
        .then(() => {
          this.isLoading = false;
          this.success = true;
          this.isDialogOpen = true;
        })
        .catch(() => {
          console.log("reee");
          this.isLoading = false;
          this.success = false;
          this.isDialogOpen = true;
        });
    },
  },
};
</script>
<style lang="scss" scoped>
.w-480 {
  width: 480px;
  .maz-select {
    width: 100%;
  }
}
.w-250 {
  width: 250px;
  .maz-select,
  .maz-input {
    width: 100%;
  }
}
.contact {
  // margin-top: 20vh;
  &-hero {
    max-width: 70%;
  }
}
</style>
