<template>
  <div>
    <Loading
      :active.sync="isLoading"
      :can-cancel="false"
      :is-full-page="true"
      loader="spinner"
      color="#BF9B43"
    ></Loading>
    <MazDialog v-model="isDialogOpen" :width="650">
      <div slot="title">
        {{ success ? $t("modal.successTitle") : $t("modal.errorTitle") }}
      </div>
      <div slot="footer">
        <MazBtn @click.native="isDialogOpen = false" color="white" outline>{{ $t("common.close") }}</MazBtn>
      </div>
      <h1 v-if="success">
        {{ $t("modal.successMessage") }}
      </h1>
      <i18n v-else tag="h1" path="modal.errorMessage">
        <template v-slot:mail>
          <a href="mailto:raboutet.ludovic@gmail.com">raboutet.ludovic@gmail.com </a>
        </template>
      </i18n>
    </MazDialog>
    <div class="rsvp flex flex-col items-center justify-center">
      <div class="flex flex-col text-center text-2xl title-rsvp">
        <h1>
          {{ $t('rsvp.title') }}
        </h1>
      </div>
      <div class="flex flex-col lg:flex-row lg:space-x-10 lg:space-x-40">
        <div class="flex flex-col space-y-10 w-250">
          <MazInput :placeholder="$t('rsvp.name')" v-model="name" />
          <MazSelect
            :placeholder="$t('rsvp.diet')"
            v-model="diet"
            :options="dietOptions"
          />
        </div>
        <div class="flex flex-col space-y-10 w-250 mt-10 lg:mt-0">
          <MazSelect
            :placeholder="$t('rsvp.presence')"
            v-model="presence"
            :options="presenceOptions"
          />
          <MazInput :placeholder="$t('rsvp.nr')" v-model="nr" />
        </div>
      </div>
      <div
        class="flex flex-col items-center justify-center mt-10 w-480"
        v-if="isRo"
      >
        <p class="mb-2">
          Aveti nevoie de transport din aeroportul Lyon pana la hotel in data de 23 Septembrie?
        </p>
        <MazSelect
          placeholder="da/nu"
          v-model="busGoing"
          :options="presenceOptions"
        />
      </div>
      <div
        class="flex flex-col items-center justify-center mt-10 w-480"
        v-if="isRo"
      >
        <p class="mb-2">
          Aveti nevoie de transport din Dijon pana la aeroportul Lyon in data de 26 Septembrie?
        </p>
        <MazSelect
          placeholder="da/nu"
          v-model="busComing"
          :options="presenceOptions"
        />
      </div>
      <div class="flex flex-row items-center justify-center mt-10">
        <MazBtn @click="sendEmail">{{ $t("rsvp.submit") }}</MazBtn>
      </div>
    </div>
  </div>
</template>

<script>
import "vue-loading-overlay/dist/vue-loading.css";
import Loading from "vue-loading-overlay";
import { MazInput, MazBtn, MazSelect, MazDialog } from "maz-ui";
export default {
  name: "rsvp",
  meta: {
    title: "title.rsvp",
  },
  components: { MazInput, MazBtn, MazSelect, Loading, MazDialog },
  data: (vm) => ({
    isDialogOpen: false,
    success: true,
    name: "",
    presence: "",
    diet: "",
    nr: "",
    presenceOptions: [
      // { label: vm.$t('rsvp.options.none'), value: null },
      { label: vm.$t("rsvp.options.presence.first"), value: "Yes" },
      { label: vm.$t("rsvp.options.presence.second"), value: "No" },
    ],
    dietOptions: [
      { label: vm.$t("rsvp.options.diet.no"), value: vm.$t("rsvp.options.diet.no") },
      { label: vm.$t("rsvp.options.diet.vegetarian"), value: vm.$t("rsvp.options.diet.vegetarian") },
      { label: vm.$t("rsvp.options.diet.vegan"), value: vm.$t("rsvp.options.diet.vegan") },
      { label: vm.$t("rsvp.options.diet.hallal"), value: vm.$t("rsvp.options.diet.hallal") },
    ],
    busGoing: "",
    busComing: "",
    isLoading: false,
  }),
  methods: {
    async sendEmail() {
      this.isLoading = true;
      this.$mail
        .send({
          from: "wedding@test.com",
          subject: `RSVP --- ${this.name}`,
          text: `
          Name: ${this.name}

          Presence: ${this.presence}

          Diet: ${this.diet}

          Number of people: ${this.nr}

          ${this.isRo ? `Bus 23 sept: ${this.busGoing}` : ""}
          ${this.isRo ? `Bus 26 sept: ${this.busComing}` : ""}
        `,
        })
        .then(() => {
          this.isLoading = false;
          this.success = true;
          this.isDialogOpen = true;
        })
        .catch(() => {
          console.log("reee");
          this.isLoading = false;
          this.success = false;
          this.isDialogOpen = true;
        });
    },
  },
  computed: {
    isRo() {
      return this.$i18n.locale === "ro";
    },
  },
};
</script>
<style lang="scss" scoped>
.title-rsvp {
  padding-bottom: 24px;
  margin-top: -50px;
}
.w-480 {
  width: 480px;
  .maz-select {
    width: 100%;
  }
}
.w-250 {
  width: 250px;
  .maz-select,
  .maz-input {
    width: 100%;
  }
}
.rsvp {
  margin-top: 50px;
}
</style>
