<template>
  <div class="flex flex-row justify-center items-center theme w-1/2 mx-auto">
    <div class="flex flex-col justify-center items-center space-y-5">
        <h1 class="text-2xl text-center">
          {{ $t('theme.hero') }}
        </h1>
        <div>
          <img src="../assets/dance.png" width="180"/>
        </div>
        <div class="pt-5 text-center">
          <a class="text-2xl" href="https://flapperboutique.com/blogs/news/how-to-dress-for-a-great-gatsby-party" target="_blank">{{ $t('theme.link') }}</a>
        </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "theme",
  meta: {
    title: "title.theme",
  },
}
</script>

<style lang="scss" scoped>
.theme {
  margin-top: 20px;
}
</style>