<template>
  <div class="flex flex-col justify-center items-center space-y-5 welcome">
    <div class="text-3xl">
      <h1>{{ $t('welcome.name') }}</h1>
    </div>
    <div class="pb-10">
      <img src="../assets/gif.gif" width="450" />
    </div>
    <div class="welcome-text text-center space-y-10 text-2xl">
      <h1 v-html="$t('welcome.hero1')" />
      <h1>
        {{ $t('welcome.hero2') }}
        <nuxt-link :to="localePath('rsvp')">{{ $t('here') }}</nuxt-link>
      </h1>
      <h1 class="underline">
        {{ $t('welcome.deadline') }}
      </h1>
      <h1>
        {{ $t('welcome.plan.title') }}
      </h1>
      <ul class="space-y-5 list-disc text-left">
        <li v-for="item in list" :key="item">
          {{ item }}
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
export default {
  name: 'welcome',
  computed: {
    list() {
      const arr = [];
      for(let i = 0; i <= 6; i += 1) {
        if (this.$t(`welcome.plan[${i}]`) !== 'null') {
          arr.push(this.$t(`welcome.plan[${i}]`));
        }
      }
      return arr;
    }
  },
  meta: {
    title: 'menu.home',
  },
}
</script>
<style lang="scss" scoped>
.welcome {
  margin-top: -30px;
}
.welcome-text {
  width: 70%;
}
</style>"
